.overlay{

    visibility: hidden;
    position: fixed;
    left: -1000;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    padding: 0px 32px 0px 0px;
    width: 35%;
    height: 100%;
    gap: 10px;

    /* overflow-y: scroll; */
    background-color: #425061;
    box-shadow: 8px 8px 4px #00000080;

    transition: ease-in-out 300ms;
}

.overlay #close-menu{
    position: absolute;
    right: 0;

    background-color: #313B47;
    color: white;
    border: none;
    margin: 3px;
    padding: 6px 12px 6px 12px;
    border-radius: 6px;
    
    transition: ease-in 150ms;
    
}

.overlay #close-menu:hover{
    padding: 6px 18px 6px 18px;
    border: #00C8AA solid 1px;

    transition: ease-in 150ms;
}

::-webkit-scrollbar{
    width: 0px;
}

.overlay-navigation{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 16px 16px 16px;
    gap: 10px;

    width: fit-content;
    height: fit-content;

    background-color: #313B47;
}

#navigation-icons{
    display: flex;
    flex-direction: column;
    
    gap: 8px;
}

.navigation-icon{
    display: flex;
    flex-direction: column;
    
    padding: 4px;

    gap: 16px;
}
.navigation-icon:hover{
    display: flex;
    flex-direction: column;
    
    background: #425061;
    /* border: #00C8AA solid 1px; */
    border-radius: 4px;

    transition: ease-in 150ms;

}

.overlay-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 0px 32px 8px;
    gap: 24px;
    width: 90%;
    height: 100%;
    background-color: #425061;
    overflow: scroll;
}

.overlay-form-category{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 32px 32px 8px;
    gap: 15px;

    width: 100%;
    height: fit-content;
}

.overlay-form h2{
    gap: 1px;
    padding: 3px 3px 3px 0px;
    margin: 0px;
    align-items: center;
    width: 100%;
    
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    /* line-height: 15px; */

    color: #fff;

    border-bottom: 0.6px solid #fff;
} 

.overlay-form-input-label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    
    height: fit-content;
    width: 100%;
    gap: 6px;    
    padding: 0px 8px 0px 4px;
    
    border-radius: 0px;
        
}

.overlay-form-input-label label{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;

    color: #FFFFFF;
}
.overlay-form-input{
    /* box-sizing: border-box; */
    width: 90%;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background: none;
    border-radius: 8px;
    border: 1px solid #989DA6;
    padding: 12px;
    transition: ease 150ms;
}
.overlay-form-input:hover {
    /* box-sizing: border-box; */
    width: 90%;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background: none;
    border-radius: 8px;
    border: 1px solid #00C8AA;
    padding: 12px;
    transition: ease 150ms;
}

.overlay-form-input:focus{
    
    outline: none;
    
    border: 2px solid #00C8AA;
    transition: ease-in 150ms;
}